In [71]:
import mysql.connector

In [70]:
conn = mysql.connector.connect(host="127.0.0.1", port=3306,
                               user="root", password="qwerty")

class SQLHelper:

    def __init__(self, dbname, table_name):
        self.dbname = dbname
        self.table_name = table_name
        self.conn = mysql.connector.connect(host="127.0.0.1", port=3306,
                               user="root", password="qwerty", database = self.dbname)

    def RunQuery(self, query):
        # Create a cursor
        cur = self.conn.cursor()

        # Execute the query
        cur.execute(query)

        # Commit the changes (assuming you are making changes to the database)
        self.conn.commit()

        print("Query Executed")

    def ShowTables(self, dbname):

        # Create connecation
        cur = conn.cursor()

        # Use Database
        cur.execute(f"USE {dbname}")
        
        # Execute a query
        cur.execute("SHOW TABLES")
        
        # Fetch one result
        row = cur.fetchall()

        print([db for db in row])


    def ShowDatabase(self):
        cur = conn.cursor()
        
        # Execute a query
        cur.execute("SHOW DATABASES")
        
        # Fetch one result
        row = cur.fetchall()

        print([db for db in row])

    def __get_datetime__(self):
        # Get a cursor
        cur = conn.cursor()
        
        # Execute a query
        cur.execute("SELECT current_timestamp()")
        
        # Fetch one result
        row = cur.fetchone()
        
        print("Current date is: {0}".format(row[0]))
        
        # Close connection
        # conn.close()

In [62]:
dbname, table_name = 'RTPSDB', 'FrameTable'

sql_objs = SQLHelper(dbname, table_name)

In [63]:
sql_objs.__get_datetime__()

Current date is: 2023-12-17 17:50:35

In [24]:
sql_objs.ShowDatabase()

[('information_schema',), ('mysql',), ('performance_schema',), ('rtpsdb',), ('sakila',), ('sys',), ('world',)]

In [25]:
# sql_objs.RunQuery("CREATE DATABASE IF NOT EXISTS {}".format(dbname))

In [26]:
sql_objs.ShowDatabase()

[('information_schema',), ('mysql',), ('performance_schema',), ('rtpsdb',), ('sakila',), ('sys',), ('world',)]

In [27]:
sql_objs.ShowTables(dbname)

[('extractedframefromvideo',)]

#### Frame Table Schema
* frame_id int
* cam_id int
* date_time datetime
* Site_id int
* username varchar
* email_id varchar

#### Predication Table Id
* frame_id int
* predication_id  int + varchar
* Site_id int
* Volflag int

In [ ]:
sql_query = """
CREATE TABLE IF NOT EXISTS ExtractedFrameFromVideo (
    frame_id bigint AUTO_INCREMENT PRIMARY KEY,
    cam_id smallint,
    date_time DATETIME(6),
    Site_id smallint,
    username varchar(255),
    email_id varchar(255)
);
"""

In [8]:
sql_objs.RunQuery("""select *
from INFORMATION_SCHEMA.COLUMNS
where TABLE_NAME='ExtractedFrameFromVideo'""")

[('def', 'rtpsdb', 'extractedframefromvideo', 'cam_id', 2, None, 'YES', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None), ('def', 'rtpsdb', 'extractedframefromvideo', 'date_time', 3, None, 'YES', 'datetime', None, None, None, None, 6, None, None, 'datetime(6)', '', '', 'select,insert,update,references', '', '', None), ('def', 'rtpsdb', 'extractedframefromvideo', 'email_id', 6, None, 'YES', 'varchar', 255, 1020, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '', None), ('def', 'rtpsdb', 'extractedframefromvideo', 'frame_id', 1, None, 'NO', 'bigint', None, None, 19, 0, None, None, None, 'bigint', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None), ('def', 'rtpsdb', 'extractedframefromvideo', 'Site_id', 4, None, 'YES', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None), ('def', 'rtpsdb', 'extractedframefromvideo', 'username', 5, None, 'YES', 'varchar', 255, 1020, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '', None)]

In [64]:
from datetime import datetime
frame_id = datetime.now().strftime("%m%d%Y%H%M%S%f")[:-4]
frame_id

'1217202317503954'

In [65]:
'1217202316304496', '1', '2023-12-16 23:19:21.000000', '1', 'tarunchaubey', 'tarunchaubey09@gmail.com'

('1217202316304496',
 '1',
 '2023-12-16 23:19:21.000000',
 '1',
 'tarunchaubey',
 'tarunchaubey09@gmail.com')

In [66]:
date_time = str(datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f"))
date_time

'2023-12-17 17:50:40.508690'

In [67]:
data = {"frame_id": frame_id,
        "cam_id": 1,
        "date_time": date_time,
        "Site_id": 1,
        "username": "tarunchaubey",
        "email_id": "tarunchaubey09@gmail.com"
        }

data

{'frame_id': '1217202317503954',
 'cam_id': 1,
 'date_time': '2023-12-17 17:50:40.508690',
 'Site_id': 1,
 'username': 'tarunchaubey',
 'email_id': 'tarunchaubey09@gmail.com'}

In [68]:
query = f"""INSERT INTO ExtractedFrameFromVideo (frame_id, cam_id, date_time, Site_id, username, email_id) VALUES {tuple(data.values())};"""
query

"INSERT INTO ExtractedFrameFromVideo (frame_id, cam_id, date_time, Site_id, username, email_id) VALUES ('1217202317503954', 1, '2023-12-17 17:50:40.508690', 1, 'tarunchaubey', 'tarunchaubey09@gmail.com');"

In [69]:
sql_objs.RunQuery(query)

In [74]:
sql_objs.RunQuery("""INSERT INTO ExtractedFrameFromVideo (frame_id, cam_id, date_time, Site_id, username, email_id)
VALUES (1217202317214289, 1, '2023-12-16 23:19:21', 1, 'tarunchaubey', 'tarunchaubey09@gmail.com');
""")

[]

In [75]:
sql_objs.RunQuery('''SELECT * FROM ExtractedFrameFromVideo''')

[(121620232331, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (131620232331, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1316720232331, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1217202316304496, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1217202317041617, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1217202317041667, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1217202317041697, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com'), (1217202317214289, 1, datetime.datetime(2023, 12, 16, 23, 19, 21), 1, 'tarunchaubey', 'tarunchaubey09@gmail.com')]

In [1]:
import numpy as np

In [5]:
np.random.randint(0,100,1)[0]

53